<app-header></app-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let item of miscelaneos">
        <ion-label>{{item.Nombre}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.Checked"
          (ionChange)="sumarPrecio(item.Valor, $event.target.checked)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Total: ${{total}}
    </ion-title>
  </ion-toolbar>
</ion-footer>