<app-header></app-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-list-header>
        Dulces
      </ion-list-header>
      <ion-item *ngFor="let item of dulce">
        <ion-label>{{item.Nombre}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.Checked"
          (ionChange)="sumarPrecio(item.Valor, $event.target.checked)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Salados
      </ion-list-header>
      <ion-item *ngFor="let item of salado">
        <ion-label>{{item.Nombre}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.Checked"
          (ionChange)="sumarPrecio(item.Valor, $event.target.checked)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Bebidas
      </ion-list-header>
      <ion-item *ngFor="let item of bebidas">
        <ion-label>{{item.Nombre}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.Checked"
          (ionChange)="sumarPrecio(item.Valor, $event.target.checked)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Miscelaneos
      </ion-list-header>
      <ion-item *ngFor="let item of miscelaneos">
        <ion-label>{{item.Nombre}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.Checked"
          (ionChange)="sumarPrecio(item.Valor, $event.target.checked)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Salud y Belleza
      </ion-list-header>
      <ion-item *ngFor="let item of saludBelleza">
        <ion-label>{{item.Nombre}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.Checked"
          (ionChange)="sumarPrecio(item.Valor, $event.target.checked)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Total: ${{total}}
    </ion-title>
  </ion-toolbar>
</ion-footer>